*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #9c84b2;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #582965;
    border-radius: 10px;
}